.App-logo {
  animation: App-logo-spin infinite 20s linear;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*user profile*/
.user-profile {
  position: relative;
  overflow: hidden;
}

.user-profile > img {
  width: 70px;
}

.user-profile > .user-desc {
  padding: 5px;
}


/*modify bootstrap*/
.thumbnail {
  border: none !important;
}